<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

        <div class="img">
        
        <a class="navbar-brand" href="{% url 'welcome' %}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Instagram_simple_icon.svg/120px-Instagram_simple_icon.svg.png" width="50" height="40" style=" margin-left: 5%; margin-right: 2%;padding:2%;border-right: 1px solid rgb(39, 38, 38)">
            <span ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQUAtSPV9Gc08sYCE9lgHgJhHGmFlStM_APlN4NgMIKE00B7Yfw" height="60"></span></a>
        </div>
    </div>
    <!-- Adding a search form  -->
    <form  action="{% url 'searchs' %}"class="search text-center" style="margin-top: 2%; margin-left:5%;">
      <input type="text" class="input-sm form-control" name="username"
      placeholder="Search">
    </form>
    <div class="col-sm-6 col-md-6">
            {% if user.is_authenticated %}
            
              <div class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false"><img src='http://freeiconbox.com/icon/256/23228.png' height="40" width="30">
                  
                          <span class="caret"></span>
                      </a>
                <div class="dropdown-menu" role="menu">
                  <p>
                    <a href="{%url 'myProfile'%}">Profile</a>
                  </p>
                  <p>
                    <a href="/accounts/password/change">Change Password</a>
                  </p>
                  <p>
                    <a href="{%url 'new_image'%}">Create a POST</a>
                  </p>
                  <p>
                    <a href="{%url 'profile'%}">Create a Profile</a>
                  </p>

                  <p>
                    <a href="/logout">Logout</a>
                  </p>
                </div>
              </div>
            
            {% else %}
            <p>
              <a class='btn btn-default' href="/accounts/login">Login</a>
            </p>

            {% endif %}
          </div>



</div>
</nav> <br> <br> <br>
</body>
</html>
