
{%extends 'all-instagram/base.html'%}
{% load bootstrap4 %} {% load staticfiles %}
{% block content %}
{{block.super}}
<style>
.profile{
    border-radius: 60%;
    width: 10%;
    height: 10%;
}


</style>



  <div class="container">

    <div class="pro">
          
            <img src="{{myProfile.profile_photo.url}}" class="profile">
          
    </div> 
    <hr> 
    <div class="imag"> 
      {%for user in all_images%}       
        <img src="{{user.image.url}}" width="300" height="300" class="img-responsive" alt="Image">
        <!-- <p> {{ user.image_caption }} </p> -->
        {% empty %}
        <div class="row">
          <h2 class="text-center">There No News Items</h2>
        </div>
        {% endfor %}
      </div>
    </div>

>
  
</div>


			

			
			
		

	

			

			

			
			
			

			

			

{% endblock %}