{%extends 'all-instagram/base.html'%}
{% load bootstrap4 %}
{% block content %} 
{{ block.super}}



<div class="container">
 <img src="{{myProfile.profile_photo.url}}" style="border-radius: 60%;width: 10%;height: 10%;">
  {% for img in image %}
   
    <div class="card" style="width: 30rem; margin-top:5%; margin-left:18% ">
        <img src="{{img.image.url}}" height="470" class="img-responsive" alt="Image">
      
        <div class="card-body">
            <p> {{ img.user }} </p>
        <p> {{ img.posted_time }} </p>
        <p> {{ img.image_caption }} </p>
        <hr>
        {% for com in img.comments_set.all %}
        <p>{{com.comment}}</p>
        {% endfor %}
        <a href="{%url 'comment' img.id%}" class="btn btn-default">Comment</a>
      </div>
    </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No News Items</h2>
  </div>
  {% endfor %}

</div>


{% endblock %}