{%extends 'all-instagram/base.html'%}
{% load bootstrap4 %}
{% block content %} 
{{ block.super}}



<div class="container">
 
  {% for img in image %}
   
    <div class="card" style="width: 25rem; margin-top:5%; margin-left:18% ">
      {%if myProfile%}
      <img src="{{myProfile.profile_photo.url}}" style="border-radius: 60%;width: 20%;height: 20%;margin-bottom: 2%">
      {%endif%}
        <img src="{{img.image.url}}" height="450" class="img-responsive" alt="Image">
        <span>
          <a href="{% url 'like' id=img.id%}"><img src="https://cdn2.iconfinder.com/data/icons/instagram-ui/48/jee-68-512.png"  width=40></a>
       </span>
       <p><strong>{{img.likes}} likes</strong></p>


      
        <div class="card-body">
            <p style="color: brown"> {{ img.user }} </p>
        <p> {{ img.posted_time }} </p>
        <p> {{ img.image_caption }} </p>
        <hr>
        {% for com in img.comments_set.all %}
        <p>{{com.comment}}</p>
        {% endfor %}
        <a href="{%url 'comment' img.id%}" class="btn btn-default">Comment</a>
      </div>
    </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No News Items</h2>
  </div>
  {% endfor %}

</div>


{% endblock %}