{%extends 'all-instagram/base.html'%}
{% load bootstrap4 %}
{% block content %} 
{{ block.super}}



<div class="container">
 <img src="{{myProfile.profile_photo.url}}">
  {% for img in image %}

  <div class="row">
    <!-- displaying News articles -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{img.image.url}}" class="img-responsive" alt="Image">
        <p class="text-center"> {{ img.image_caption }} </p>
    </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No News Items</h2>
  </div>
  {% endfor %}

</div>


{% endblock %}